# python cache
*.py[oc]
__pycache__/

# IDE files
.idea/
.vscode/
*.sublime-*

# Ignore the settings files
/emati/settings/*.py

# Ignore migration files
/emati/apps/website/migrations/*

# Ignore user classifiers and uploads
/media/

# Ignore log files
/logs/

# Ignore Macos folder
.DS_Store
