{% extends "website/base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static '/website/css/single_box.css' %}" />
{% endblock css %}

{% block searchbar %}{% endblock %}

{% block content %}
<div class="content-box">
    <h1>Reset your account</h1>

    <form method="POST" action="{% url 'account_reset' %}">
        {% csrf_token %}
        <p>Are you sure you want to reset your account?</p>
        <p>This will:</p>
        <ul>
            <li>delete all of your uploaded files</li>
            <li>delete your personal recommendation model</li>
            <li>remove all your likes and dislikes</li>
        </ul>
        <div class="button-container">
            <button type="submit" name="action">Reset account</button>
            <a href="{% url 'settings' %}" class="button button-light">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}