{% extends "website/base.html" %}


{% comment %}
The complete list of terms and conditions.
{% endcomment %}


{% block content %}
<div class="content-box">
    {% with website_name='Emati' %}
    {% with website_url='www.emati.biotec.tu-dresden.de' %}
    <h1>Emati Privacy Policy</h1>
    <p>Emati is a personalized service, which screens scientific articles to
    recommend those, which match the user's interest.</p>

    <h4>Personal data</h4>
    <p>To deliver and improve the service, Emati stores the following personal
    information:
    <ul>
       <li>Basics subscriber information:</li>
       Name, email and data publicly available via social profiles (Google and Facebook).<br>
       This data is needed for the registration and notification purposes.<br>
       <br>
       When you use Google sign in, you grant emati access to the following information from your public profile:<br>
       <br>
       <i> email, name, link to photo, link to cover photo, profile url, gender, locale.</i>
       <br>
       <br>
       See more about <a href="https://developers.google.com/people/v1/how-tos/authorizing#profile-scopes"> Google profile scopes</a>
       <br>
       <br>
       When logging in with Facebook, you share the following information:<br>
       <br>
       <i> email, id, full name, short name, link to profile picture</i>
       <br>
       <br>
       More information about what Facebook considers <a href="https://www.facebook.com/help/203805466323736">public information</a>
       <br>
       <br>
       Please note that Facebook and Google may be collecting your personal data (such as ip addresses)
       when you use the social login options.<br>
       <br>

       <li>Usage data:</li>
       Uploaded files, selected articles, time stamps, log in events needed
       to maintain profile, profile aging, user specific search criteria.<br>
       Information derived from anonymized IP addresses such as country or institution
       is used for internal purposes and will not be disclosed with third parties.<br>
       <br>

       <li>Server log files:</li>
       IP addresses and urls are logged to maintain the availability and security of the website
       and to detect and correct errors in our IT systems. Log files are deleted after 7 days.<br>
    </ul>

    <h4>Account removal</h4>
    <ul>
        <li>Accounts with wrong email addresses or accounts bouncing the newsletter will be automatically removed with all their content, as well as
        accounts inactive for more than 6 month.
        <br>
        <li>We reserve the right, at any time and without prior notice, to remove any accounts we determine in our sole discretion to be in violation of this Policy or otherwise harmful to the website.</li>
    </ul>
    <br>
    <br>
    Further more the <a href="https://tu-dresden.de/impressum#ck_datenschutz">Data Protection Declaration</a> of the <a href="https://tu-dresden.de/">TU Dresden</a> applies.
    {% endwith %}
    {% endwith %}
</div>
{% endblock content %}
