{% extends "website/base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static '/website/css/single_box.css' %}" />
{% endblock css %}

{% block searchbar %}{% endblock %}

{% block content %}
<div class="content-box">
    <h1>Change Password</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-container">
            <input type="submit" name="action" value="Set Password"/>
            <a href="{% url 'settings' %}" class="button button-light">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
